<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="csvPath" value="Data\measures_v2_temp.csv" />
    <add key="rowsToSend" value="115" />
    <add key="clientLogPath" value="Logs\client_csv_log.txt" />
    <add key="serverRejectedLogPath" value="Logs\server_rejected_responses.txt" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="PmsmNetTcpBinding"
                 transferMode="Streamed"
                 maxReceivedMessageSize="2147483647"
                 openTimeout="00:01:00"
                 closeTimeout="00:01:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00" />
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint name="PmsmServiceEndpoint"
                address="net.tcp://localhost:4000/PmsmMotorMonitoring/Service"
                binding="netTcpBinding"
                bindingConfiguration="PmsmNetTcpBinding"
                contract="Common.IPmsmService" />
    </client>
  </system.serviceModel>
</configuration>
