<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Ud_threshold" value="10" />
    <add key="Uq_threshold" value="10" />
    <add key="Speed_threshold" value="500" />
    <add key="AllowedDeviation" value="0.25" />
    <add key="storagePath" value="Storage" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="PmsmNetTcpBinding"
                 transferMode="Streamed"
                 maxReceivedMessageSize="2147483647"
                 openTimeout="00:01:00"
                 closeTimeout="00:01:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00" />
      </netTcpBinding>
    </bindings>

    <services>
      <service name="ServiceHostApp.PmsmService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000/PmsmMotorMonitoring" />
          </baseAddresses>
        </host>
        <endpoint address="Service"
                  binding="netTcpBinding"
                  bindingConfiguration="PmsmNetTcpBinding"
                  contract="Common.IPmsmService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
